/*********************************************
*       Imports, Root and Body Styling       *
**********************************************/

/*DM Sans Font Import*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

/*Roboto Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

*{
    margin: 0;
    padding:0; 
    box-sizing: border-box;
    width: 100%;
}

body{
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC); 
    background: linear-gradient(to bottom, #CFDEF3, #E0EAFC); 
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}


/*********************************************
*                 Nav Bar                    *
**********************************************/

nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 80%;
    background: white;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 10px;
}

.nav-menu{
  width: inherit;
}

ul{
    display:flex;
    flex-direction: row;
    list-style: none; 
    gap: 1rem; 
    justify-content: end;

}

nav ul li {
    transition: 0.3s linear;
    border-top: 1px solid white;
    padding-top: 10px;
    min-width: fit-content;
}

nav  ul  li:hover{
    border-top: 1px solid black;
    
}

nav  ul  li  a{
    list-style: none;
    text-decoration: none;
    color: #313131;
    padding-right: 5px;
}

.nav-wrapper{
    min-width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    gap: 1rem; 
}

.logo-menu-wrapper{
  width: 100%;
}

.logo{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 5px 10px;
    border: 1px black solid;
    border-radius: 6px;
    transition: .7s;
    cursor: pointer;
    width:auto; 
}

.logo:hover{
    background-color: black;
}

.logo a {
    text-decoration: none;
    color: #313131; 
    transition: .7s;
    
}

.logo a:hover {
    text-decoration: none;
    color:white; 
    
}



/*********************************************
*                Nav - Hamburger Menu        *
**********************************************/

nav button{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.hamburger-menu div {
  width: 2rem;
  height: 0.25rem;
  background: black;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.hamburger-menu div:first-child {
  transform: rotate(0);
}

.hamburger-menu.toggle div:first-child {
  transform: rotate(45deg);
}

.hamburger-menu div:nth-child(2) {
  opacity: 1;
}

.hamburger-menu.toggle div:nth-child(2) {
  opacity: 0;
}

.hamburger-menu div:last-child {
  transform: rotate(0);
}

.hamburger-menu.toggle div:last-child {
  transform: rotate(-45deg);
}

/*Animate Hamburger Menu*/
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.nav-menu.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideInFromRight 0.5s forwards;
  margin: auto;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-menu.show li {
  opacity: 0;
}

.nav-menu.show li.animate {
  animation: slideInFromRight 0.5s forwards;
}

.logo-menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-menu{
  width: 30%;
}


/*********************************************
*                Chat Bot                    *
**********************************************/



.interface{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    gap: 1rem;
}

.chat-container{
    width: 60%;
    height: 70vh; 
}


.chat-box{
    background-color: white; 
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    border-radius: 4px;
}

.chat-history{
    height: 100%;
    background-color: white;
    border-radius: 4px;
    overflow-y: scroll;
    padding-bottom: 2rem;
    padding: 10px;
}

#opener{
  text-indent: 0;
  margin-bottom: 0;
}

#ul-opener{
  margin-top: 0;
}

.chat-input-container{
    width: 100%;
    background-color: white;
    padding: 15px 7px;
    border-radius: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 3px solid #dcdbdb;
}

#user-input{
  min-height: 25px;
    border: none;
    outline: none;
    width: 85%;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.1rem;
}

#send-btn{
    width: 14%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    background-color: #339DFF; 
    border: none;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1rem;
    border-radius: 4px;
    /*transition: .7s;*/

}

#send-btn:hover{
    background-color: #2b77be; 
}

#send-btn:active {
    transform: translateY(6px);
  }

.ai-message{
  display: flex;
  flex-direction: column;
  gap: .75rem; 
  background-color: #F4F4F4;
  padding: 10px;
  width:fit-content; 
  max-width: 70ch;
  height: auto;
  margin-left: 15px;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  transform: translateY(100%);
  animation-name: slideUpUser;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

}

.ai-message p{
  max-width: 60ch;
  color: #313131;
  text-indent: 40px;
  line-height: 1.5rem;
  /*slide up animation*/
  transform: translateY(100%);
  animation-name: slideUpUser;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}


.ai-message ul, ol{
  display: block;
  list-style-type: circle; 
  margin-left: 15px;
  margin-right: auto;
  padding: 10px;
  width: 50ch;
}



.ai-message li{
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  color: #313131;
}


.user-message{
    background-color: #3194f1;
    padding: 10px;
    width:fit-content; 
    max-width: 70ch;
    height: auto;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
    color:white;
    /*slide up animation*/
    transform: translateY(100%);
    animation-name: slideUpUser;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


.user-message p{
  max-width: 70ch;
  color: white; 
  line-height: 1.5rem;
  /*slide up animation*/
  transform: translateY(100%);
  animation-name: slideUpUser;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.ai-message,
.user-message {
  max-width: 90%;
  /* ... */
}

.ai-message p,
.user-message p {
  max-width: 60ch;
  /* ... */
}

.ai-message ul,
.ai-message li {
  max-width: 60ch;
  /* ... */
}

.ai-message ul, ol {
  margin-left: 1.5rem;
}


@keyframes slideUpUser {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.user-message a {
    color:white;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  border-color: white;
  opacity: 0;
}


/* This is the container for the three bubbles */
.chatbot-typing {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #F4F4F4;
    width: fit-content;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    padding-bottom: 10px;
  }
  
  /* This is the style for each bubble */
  .chatbot-bubble {
    background-color: #bbb; /* Change this to the color you want */
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 4px; /* Adjust this to change the spacing between bubbles */
    animation: chatbot-pulse 1.5s ease-in-out infinite;
  }

.ai-message,
.user-message,
.ai-message p,
.user-message p{
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#user-input{
  /* ...existing styles... */
  resize: vertical;
}
  
  /* This is the animation that makes the bubbles pulse */
  @keyframes chatbot-pulse {
    0% {
      background-color: #bbb;
      transform: translateY(0);
    }
    25% {
      background-color: #ccc;
      transform: translateY(-3px);
    }
    50% {
      background-color: #ddd;
      transform: translateY(0);
    }
    75% {
      background-color: #ccc;
      transform: translateY(3px);
    }
    100% {
      background-color: #bbb;
      transform: translateY(0);
    }
  }
  
  /* Set different animation delays for each bubble */
  .chatbot-bubble:nth-of-type(1) {
    animation-delay: 0s;
  }
  
  .chatbot-bubble:nth-of-type(2) {
    animation-delay: 0.2s;
  }
  
  .chatbot-bubble:nth-of-type(3) {
    animation-delay: 0.4s;
  }
  
/*********************************************
*                Resource Container          *
**********************************************/

.resource-container{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: 70vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: 'Lato', sans-serif;
}


table {
  font-family: 'Lato', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  padding: 8px;
}


th h2{
  background-color: #000080;
  color: white;
  font-size: 1.2rem;
  padding: 10px 7px;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #F4F4F4;
}

tr:nth-child(odd) {
  background-color: white;
}

#table-header{
  background-color: whitesmoke;
  color: #313131;
  text-align: center; 
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}

#resource-placeholder{
  padding-top: 1rem;
  font-size: 1.2rem;
  padding: 1rem;
  max-width: 40ch;
}

#resource-placeholder p{
  text-align: left;
  text-indent: 2em;
  line-height: 1.5rem;
}

#resource-placeholder p + p{
  margin-top: 1rem; 
}

/*Carousel*/

#reading-heading{
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  background-color: #000080;
  color:white; 
  padding: 10px 7px;
  text-align: center;
  width: 100%;
  
}

.carousel {
  display:flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  max-width: 350px;
  margin-bottom: 20px;
  min-height: 100%;
  
}

.foundResources{

  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  background-color: #000080;
  color:white; 
  padding: 10px 7px;
  text-align: center;
  width: 100%;
  margin-top: 1rem;

}

.carousel__nav{
  display: flex;
  gap: 1rem; 
  justify-content: center;
}

.cards{
  display: flex;
  overflow-x:hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%; 
}

#place-holder-card p{
  font-size: 1.2rem;
}

.cards-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  max-height: 450px;
  position: relative;
  scroll-snap-align: start;
  transform: scale(1);
  transform-origin: center center;
  transition: transform .5s;
  width: 100%;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
}

.cards-item img{
  object-fit: scale-down;
  height: 40%;

}

.cards-item h3{
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-top: .5rem;
}

.cards-item p{
  text-align: left;
  margin-top: 1rem;
  height: 30%;
}

.cards-item a{
  font-family: 'Lato', sans-serif;
  background-color: #000080;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1.2rem;
  width: 70%;
  padding: 5px 10px;
}

.slider-nav {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  background-color: #000080;
  border-radius: 50%;
  margin-top: 1rem;
  font-weight: bold;
  color: white; 
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.3rem;
  justify-content: center;
  padding: .5rem;
  position: relative;
  text-decoration: none;
}

/*********************************************
*      How This Works Page & About Page      *
**********************************************/

#section-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem; 
  width: 50%;
  background-color: white;
  color: #313131;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

#section-container h1{
  font-family: 'Lato', sans-serif;
  font-size: 2.2rem;
  text-align: center; 
}

#section-container p{
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  max-width: 60ch;
  font-size: 1.2rem; 
  text-indent: 2.5rem;
}

#section-container ol{
  font-family: 'Lato', sans-serif;
  margin: auto;
  list-style: decimal;
}

#section-container ol li{
  padding-bottom: .25rem;
  
}


/*********************************************
*                MEDIA REQUESTS              *
**********************************************/

@media (max-width: 850px) {
  /* Changes for mobile screens go here */
  
  /*NAV BAR*/
  nav {
      flex-direction: column; /* Stack elements vertically on small screens */
      align-items: flex-start; /* Align items to the start */
  }

  ul {
      flex-direction: column; /* Stack list items vertically on small screens */
      align-items: flex-start; /* Align items to the start */
  }

  ol {
    flex-direction: column; /* Stack list items vertically on small screens */
    align-items: flex-start; /* Align items to the start */
 }

  /* Adjust chat-container and resource-container to take full width on small screens */
  .chat-container, .resource-container {
      width: 100%;
      min-height: 75vh;
  }

  .chat-history{
    padding: 0px;
  }

  .ai-message{
    max-width: 90%;
    margin-left: 0;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .ai-message p{
    max-width: 100%;
  }

  .user-message{
    width: fit-content; 
  }

  .user-message p {
    width: fit-content;
  }

  .ai-message ul {
    max-width: 50ch;
  }

  .ai-message ol {
    max-width: 50ch;
  }


  .ai-message ul, li{
    max-width: 90%;
    margin-bottom: 10px;
  }

  .ai-message ol, li{
    max-width: 100%;
    margin-bottom: 10px;
  }


  /* Changes for interface */
  .interface {
      flex-direction: column;
      padding: 5px; /* Adjust padding as per requirement */
  }
  

  /* Chat Input Container*/
  .chat-input-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .button{
    align-self: left;
    text-align: left;
  }

 .ai-message,
 .user-message,
 .ai-message p,
 .user-message p{
    word-wrap: break-word;
    overflow-wrap: break-word;
}

 #user-input{
  /* ...existing styles... */
  resize: vertical;
}

/**Hamburger Menu**/

.hamburger-menu {
  display: flex;
}

.nav-menu {
  display: none;
}

.nav-menu.show {
  display: flex;
  margin: auto;
  margin-top: 1rem;
}

nav div {
  margin-top: .5rem;
}

nav .logo-menu-wrapper div {
  margin-top: 0;
}

/*********************************************
*            Chat Bubbles Media              *
**********************************************/

.chatbot-typing{
  margin-top: 10px;
  margin-bottom: 10px;
}

/*********************************************
*            Carousel Media                  *
**********************************************/
.cards-item img{
  min-height: 100px;
  object-fit: scale-down;
}

.carousel__nav{
  justify-content: center;
}

.resource-container{
  height: auto;
}

/*********************************************
*   How This Works Page & About Page Media   *
**********************************************/

#section-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem; 
  width: 90%;
  background-color: white;
  color: #313131;
  margin-left:auto; 
  margin-right: auto;
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
}

#section-container h1{
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  text-align: left; 
}

#section-container p{
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  max-width: 60ch;
  font-size: 1.0rem; 
  text-indent: 1.5rem;
  
}

#section-container img{
  width: 90%;
}

}




