<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>AccessibilityGPT</title>
</head>
<body>
    <div class="nav-wrapper">
        <nav>
            <div class="logo-menu-wrapper">
                <button class="logo">
                    <a href="index.html" aria-label="Return to homepage of AODA chatbot">
                        AccessibilityGPT
                    </a>
                </button>
                <button class="hamburger-menu" aria-label="Menu" aria-expanded="false">
                    <div></div>
                    <div></div>
                    <div></div>    
                </button>
            </div>
            <ul class="nav-menu" role="navigation" aria-label="Main"> 
                <li>
                    <a href="https://github.com/AlexIbby/accessibilityGPT" aria-label="Link to the Github page of this AccessibilityGPT project, which includes all the code for the project.">
                        Github
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ibrahimalex/" aria-label="Link to the LinkedIn profile of Alex Ibrahim">
                        LinkedIn
                    </a>
                </li>
                <li>
                    <a href="how-this-works.html" aria-label="Link to page explaining how this AODA chatbot works">
                        How this Works
                    </a>
                </li>
                <li>
                    <a href="about.html" aria-label="Link to the about page of this project">
                        About
                    </a>
                </li>
            </ul>
        </nav>
    </div>




    <section id="section-container">

    </section>

<script src="/static/about-how.js"></script>
</body>
</html>