<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
    <title>AccessibilityGPT</title>
</head>

<body>
<nav>
    <p>AccessibilityGPT</p>
   <ul>
    <li class="nav-link"><a href="">Alex's Github</a></li>
    <li class="nav-link"><a href="">About</a></li>
    <li class="nav-link"><a href="">How this Works</a></li>
   </ul>
</nav>


    
    {% block content %}

    {#Template Inserted#}
    {% endblock %}


</body>
</html>