<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>AccessibilityGPT</title>
</head>
<body>
    <div class="nav-wrapper">
    <nav>
        <p class="logo"><a href="https://github.com/AlexIbby/accessibilityGPT" target="_blank">AccessibilityGPT</a></p>
        <ul>
            <li><a href="">Alex's Github</a></li>
            <li><a href="">How this Works</a></li>
            <li><a href="">About</a></li>
        </ul>
    </nav>
    </div>

    <div class="interface"> <!--Interface Start -->
  
    <div class="chat-container">
        <div class="chat-box">

            <div class="chat-history">
                <div class="ai-message">
                    <p>Hello, I'm an assistant that has been trained to provide answers on the Accessibility for Ontarians with Disabilities Act and it's standards. Ask away, but keep in mind large language models can give wrong answers 😄 Rely on official information from  <a href="http://www.Ontario.ca/accessibility">Ontario.ca</a></p>
                </div>
                
                
                
               

            </div>

            <div class="chat-input-container">
                <input id="user-input" type="text">
                <button id="send-btn">Send</button>
            </div> 
        </div>
    </div>

    <div class="resource-container">
        <div  >

            <table id="resource-table">


                    <thead>
                    <tr>
                        <th colspan="2"  id="table-header"> <h2>Source Document & Link</h2></th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td colspan="2" id="resource-placeholder"> <p>The AI assistant has been provided credible primary and secondary source documents, like legislation, regulation and policy guidelines. The assistant uses those sources to provide answers to your questions.</p> <p>However, large language models like GPT3 & 4 may hallucinate and provide incorrect information. The sources for the assistant’s answers will be provided here if you are curious where the information for the response came from.</p>  </td>
                        </tr>
                    </tbody>
      
            </table>


        </div>

        

        <section class="carousel">
        <h2 id="reading-heading">Related Resources</h2>

            <div class="cards">

                <div class="cards-item" id="place-holder-card">

                    <!---Img First-->

                    
                    <p>Related resources and recommended reading will appear here after your questions.</p>

                   
                </div>
            

            </div>
            

            <div class="carousel__nav">
    
            </div>

        </section>
            
      

    </div>

    </div> <!--Interface End -->
  

<script src="/static/index.js"></script>
</body>
</html>
