<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="static\images\favicon.ico">
    <title>AODA GPT</title>
</head>
<body>
    <div class="nav-wrapper">
        <nav>
            <div class="logo-menu-wrapper">
                <button class="logo">
                    <a href="index.html" aria-label="Return to homepage of AODA chatbot">
                        AODA-GPT
                    </a>
                </botton>
                <button class="hamburger-menu" aria-label="Menu" aria-expanded="false">
                    <div></div>
                    <div></div>
                    <div></div>    
                </button>
            </div>
            <ul class="nav-menu" role="navigation" aria-label="Main"> 
                <li>
                    <a href="https://github.com/AlexIbby/accessibilityGPT" aria-label="Link to the Github page of this AccessibilityGPT project, which includes all the code for the project.">
                        Github
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ibrahimalex/" aria-label="Link to the LinkedIn profile of Alex Ibrahim">
                        My LinkedIn
                    </a>
                </li>
                <li>
                    <a href="how-this-works.html" aria-label="Link to page explaining how this AODA chatbot works">
                        How this works 
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    
      
    <div class="interface"> <!--Interface Start -->
  
    <div class="chat-container">
        <div class="chat-box">

            <div class="chat-history">
                <div class="ai-message">
                    <p>Hello, I'm a reference chatbot that answers on the Accessibility for Ontarians with Disabilities Act and it's standards. I'm assisted by credible sources, ask away, but keep in mind large language models can give wrong answers 😄 Rely on official information from  <a href="http://www.Ontario.ca/accessibility">Ontario.ca </a> and qualified accessibiltiy experts.
                    </p>

                    <p id="opener"><strong>Sample Questions</strong></p>
                    <ul id ="ul-opener">
                        <li>
                            What is the AODA?
                        </li>
                        <li>
                            What are the fines for non-compliance with the AODA?
                        </li>
                        <li>
                            What is the intent of Section 12?
                        </li>
                    </ul>
                </div>
                

            </div>

            <div class="chat-input-container">
                <label for="user-input" class="sr-only">Type your message:</label>

                <textarea id="user-input" placeholder="Type message here"></textarea>
                <button id="send-btn">Send</button>
            </div> 
        </div>
    </div>

    <div class="resource-container">
        <div  >

            <table id="resource-table">


                    <thead>
                    <tr>
                        <th colspan="2"  id="table-header"> <h2>Source Documents</h2></th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td colspan="2" id="resource-placeholder"> <p>The AI assistant has been provided credible primary and secondary source documents, like legislation, regulation and policy guidelines. The assistant uses those sources to provide answers to your questions.</p> <p>However, large language models like GPT3 & 4 may hallucinate and provide incorrect information. The sources for the assistant’s answers will be provided here if you are curious where the information for the response came from.</p>  </td>
                        </tr>
                    </tbody>
      
            </table>


        </div>

        

        <section class="carousel">
        <h2 id="reading-heading">Related Resources</h2>

            <div class="cards">

                <div class="cards-item" id="place-holder-card">

                    <!---Img First-->

                    
                    <p>Related resources and recommended reading will appear here after your questions.</p>

                   
                </div>
            

            </div>
            

            <div class="carousel__nav">
    
            </div>

        </section>
            
      

    </div>

    </div> <!--Interface End -->
  

<script src="/static/index.js"></script>
</body>
</html>
